
<h5 class="text-center">Completed To-dos</h5>
                <table class="table table-hover pointer">
                        <thead class="text-center">
                            <tr class="head"> 
                            <th>Title</th>
                            <th>Due Date</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody class="text-center animated fadeIn" >
                            <tr *ngFor="let todo of completed">
                                <!-- <div class="pointer" (click)="onClick(todo.title)"> -->
                                <td >{{todo.title }} {{todo.dateCreated |date}}</td>
                                <td> {{ todo.dueDate |date }} </td>
                                <td>{{ todo.body || 'no body' }}</td>
                                 <button class="mybutton"><i class="fa fa-trash text-danger " (click)="delete(todo)"></i></button>
                                <!-- </div> -->
                                </tr>
                        </tbody>              
                     
                </table>