<nav class="navbar navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#" >My Todo List</a>
    </div>
</nav>

<div class="container">
    <div class="row my-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" >
                    <form #form="ngForm" (ngSubmit)="add(form)">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" ngModel name="title"  required  #title="ngModel">
                            <div class="alert alert-danger" *ngIf="title.touched && !title.valid">Title field is required</div>
                        </div>
                        <div class="form-group">
                            <label>Due date</label>
                            <input type="date" ngModel name="dueDate" #dueDate="ngModel" class="form-control" min="{{currentDate|date:'yyyy-MM-dd'}}">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" ngModel cols="40" rows="10" #body="ngModel" class="form-control" name="body"></textarea>
                        </div>
                        <button id="button" type="submit" class="btn btn-success btn-block text-center"> add item</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- search button here -->
            <div class="row">
                <form class="myform"  >
                    <input type="text" placeholder="Search.." >
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                <table class="table table-hover pointer">
                    <thead class="text-center">
                      <tr>
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody class="text-center animated fadeIn"  
                       >
                      <tr *ngFor="let todo of todos; let i=index">
                       
                        <td>{{todo.title }} {{todo.dateCreated |date}}</td>
                        <td>
                          {{ todo.dueDate |date }}
                        </td>
                        <td>{{ todo.body || 'no body' }}</td>
                        <span>
                            <!-- <i class="fa-solid fa-trash btn btn-danger" aria-hidden="true" onclick="status(todo.title)"></i> -->
                            <i class="fa fa-trash text-danger mx-1" (click)="delete(todo)"></i>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success" (click)="complete(todo)" ></i>
                            <i class="fa-solid fa-square-check text-secondary mx-1" (click)="complete(todo)"></i>
                            <!-- <i class="fa-duotone fa-pen-to-square "></i> -->
                        </span>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <br>
            <div>

                <h5>Completed Tasks</h5>
                <table class="table table-hover pointer">
                        <thead class="text-center">
                            <tr> 
                            <th>Title</th>
                            <th>Due Date</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody class="text-center animated fadeIn" >
                            <tr *ngFor="let todo of completedTodos">
                                <td >{{todo.title }} {{todo.dateCreated |date}}</td>
                                <td> {{ todo.dueDate |date }} </td>
                                <td>{{ todo.body || 'no body' }}</td>
                                <span *ngIf="todo.status">
                                    <i class="fa fa-trash text-danger mx-1" (click)="delete(todo)"></i>
                                    <i class="fa-sharp fa-solid fa-pen-to-square text-success" (click)="complete(todo)" ></i>
                                </span>
                            </tr>
                        </tbody>              
                     
                </table> 
                <!-- <li *ngFor="let todo of todos">
                    <div *ngIf="todo.status">
                        {{todo.title}} {{todo.dueDate}} {{todo.body}}
                    </div>

                </li> -->

            </div>
        </div>
    </div>
</div>

